body{
    margin: 0;
}
.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profil{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
nav{
    font-size: 1.5em;
    color:black;
}
a{
    text-decoration: none;
    color:white;
}
a:visited{
    color:rgb(0, 0, 0);
}
header{
    padding-bottom: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(226, 27, 103, 0.63);
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nom{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#myVideo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: contain;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /* border: 10px solid rgb(255, 255, 255); */
}
.content{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#myBtn{
    width: 200px;
    font-size: 18px;
    padding: 5px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
#myBtn:hover{
    background: #ddd;
    color: black;
} 
.bienvenue{
    text-decoration: none;
    margin:0 auto 50px;
    margin-left: 2vh;
}
#timer{
    color: black;
}